<!DOCTYPE html>
<html>
    <head>
        <title>FitKitchen4U</title>
        <meta name="description" content="This is the description">
        <link rel="stylesheet" href="styles.css" />
    </head>
    <body>
        <header class="main-header">
            <nav class="nav main-nav">
                <ul>
                    <li><a href="/index">HOME</a></li>
                    <li><a href="/store">SHOP</a></li>
                </ul>
            </nav>
            <h1 class="band-name band-name-large">FitKitchen 4 U</h1>
            
            
        </header>
        <section class="content-section container">
            <h2 class="section-header">ABOUT US</h2>
            <div>
                <p>Welcome to your local fresh gourmet meal prep service for the Augusta, GA and surrounding areas.  We provide our clients with fresh never frozen meals.  We offer well balanced, convenient, and preservative free meals.</p>
                <div class="tour-row">
                    <span class="tour-item tour-date"></span>
                    <span class="tour-item tour-city">WEEKLY MENU</span>
                    <span class="tour-item tour-arena">Visit "Shop meal plans" tab - remember our menu changes weekly</span>
                    
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">MONDAY</span>
                    <span class="tour-item tour-city"></span>
                    <span class="tour-item tour-arena">meal desc</span>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">TUESDAY</span>
                    <span class="tour-item tour-city"></span>
                    <span class="tour-item tour-arena">meal desc</span>
                </div>
                <div class="tour-row">
                    <span class="tour-item tour-date">WEDNESDAY</span>
                    <span class="tour-item tour-city"></span>
                    <span class="tour-item tour-arena">meal desc</span>
                </div>
                <div class="tour-row">
                   <span class="tour-item tour-date">FRIDAY</span>
                    <span class="tour-item tour-city"></span>
                    <span class="tour-item tour-arena">meal desc</span>
                </div>
                <h2 class="section-header">How it works:</h2>
                <p> Orders are accepted until Thursday 5pm to receive  meals on the following Monday. Our pickup and delivery system has been restructured to better serve our clients. Official pickup day is every Monday at our new location: <strong>3618 Riverwatch Parkway, Suite 7, **ACROSS FROM BOB'S TROPICAL FISH</strong></p>  
                <p>Delivery charge is $15.00 per week. Home deliveries are required to leave a cooler and gel ice packs if no one will be home to accept delivery.</p>
                <p>Examples, Order January 24 - 30 / Pickup February 6</p>                         ​
                <p>How long will your meal last refrigerated? Always consume food within the expiration date provided on each label.  In order to ensure freshness and taste - you are advised to eat salad meals early on in the week.</p>
                <p>Serving sizes are also listed per label on each of the meals. Protein 4.5 ounces, Carbs 3.5 ounces, Veggie 3.5 ounces, **Double portions are available at an extra cost of $3.00 per meal</p>   
                <h2 class="section-header">DISCLOSURE</h2>
                <p>Before beginning Fit Kitchen meals, consult with your physician to ensure that you are in proper health.  This program is not meant to provide medical advise; therefore you should obtain medical advice from your private healthcare provider.  The users of this product assume all risk and have chosen to use this program on a voluntary basis.  No liability is assumed by Fit Kitchen. <strong>All payments are non-refundable.</strong></p>  
                <p>Preferred payment:  Paypal (you do not need a paypal account), Cash, or Credit Card.</p>  
            </div>
        </section>
        <footer class="main-footer">
            <div class="container main-footer-container">
                <h3 class="band-name">FitKitchen4U</h3>
                <ul class="nav footer-nav">
                    <li>
                        <a href="https://www.facebook.com" target="_blank">
                            <img src="Images/Facebook Logo.png">
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>